<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Bunker Bites</title>
</head>
<body>
  <nav class="menu-bar">
    <div class="logo">
    <img src="../images/BB_Logo-1.png" alt="Bunker Bites Logo">
    </div>

    <ul class="menu-list" style="margin-right: 40px; font-size: 20px;">
      <li><a href="#">Survivor Kits</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Testimonial</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
<!-- Banner Section -->
  <header class="banner">
    <div class="parallax" style="background-image: url('../images/BB_Banner_img.jpg');"></div>
  </header>

  <h1>Survivors Breakfast</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet est nec lectus tincidunt laoreet. Donec et fringilla justo, at viverra massa.</p>
 
    <!-- Adding Map Location -->

      <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDE--Q-pSNiB111a_fRoWkFUBfABYkOA&callback=initMap">
      </script>

      <script src="../scripts/app.js">  </script>

    <!-- End adding Map Location -->
  
  </header>

  <div class="container">
    <div class="box">
      <img src="../images/BB_EGGS_IMG.jpg" alt="Box 1">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <!-- Repeat similar structure for other boxes -->
  
    <div class="box">
      <img src="../images/BB_OATMEAL_IMG.jpg" alt="Box 2">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box">
      <img src="../images/BB_SAUSAGE_IMG.jpg" alt="Box 3">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box">
      <img src="../images/BB_WATER_IMG.jpg" alt="Box 4">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box">
      <img src="../images/BB_TOAST_IMG.jpg" alt="Box 5">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box">
      <img src="../images/BB_PANCAKES_IMG.jpg" alt="Box 6">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>
  </div>
<!-- Second Banner Section -->
<header class="banner banner-secondary">
  <div class="parallax" style="background-image: url('../images/second_banner_img.jpg');"></div>
</header>
  
  

 <!--Adding Map Location -->


  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDE--Q-pSNiB111a_fRoWkFUBfABYkOA&callback=initMap">
  </script>

  <script src="../scripts/app.js">  </script>


  <h2><center>PLEASE CHECK YOUR LOCAL BUNKER BITES LOCATION
    <br>FOR CURRENT ZOMBIE APOCALYPSE UPDATES!</h2>

 
  <div class="map-container">
    <div id="map" style="height: 600px; width: 800px;"></div>
  </div>


  <script src="../scripts/script.js"></script>
</body>
</html>

<!--Footer Section -->

<footer class="footer">
  <div class="social-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <p>&copy; 2023 Bunker. All rights reserved.</p>
</footer>
