<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Bunker Bites</title>
</head>
<body>
  <nav class="menu-bar">
    <div class="logo">
      <img src="../images/BB_LOGO_NEW_3.png" alt="Bunker Bites Logo">
    </div>

    <ul class="menu-list" style="margin-right: 40px; font-size: 20px;">
      <li><a href="#">Survivor Kits</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Testimonial</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
      <li class="cart-icon">
        <a href="cart.html">
          <img src="../images/cart_icon.png" alt="Cart" title="View Cart">
        </a>
      </li>      
    </ul>
  </nav>

<!-- Banner Section -->

  <header class="banner">
    <div class="parallax" style="background-image: url('../images/BB_BANNER_IMG_3 .jpg');"></div>
  </header>

  <div class="text-container">
    <h1>Survivors Breakfast</h1>
    <p>In the midst of chaos, when the world as we know it has changed forever, there's one thing you can count on: Bunker Bites, your trusted partner for delivering essential sustenance during the apocalypse. Our mission is simple – to provide nourishing and delicious meals right to your bunker's doorstep, ensuring you're well-fueled to face whatever challenges come your way.</p>
  </div>
 
    <!-- Adding Map Location -->

      <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDE--Q-pSNiB111a_fRoWkFUBfABYkOA&callback=initMap">
      </script>

      <script src="../scripts/app.js">  </script>

    <!-- End adding Map Location -->
  
  </header>
    <!-- Item Boxes -->
  <div class="container">
    <div class="box tooltip" data-tip="Gunpowder Scrambled Eggs: 'Egg-splosive flavors straight from the can. Start your day with a bang!'">
      <img src="../images/BB_EGGS_IMG.jpg" alt="Box 1">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>
  
    <div class="box tooltip" data-tip="Razor Oatmeal: 'Packed with cutting-edge nutrition, this oatmeal mix makes breakfast a sharp affair. Dive into a bowl and fuel your day!'">
      <img src="../images/BB_OATMEAL_IMG.jpg" alt="Box 2">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box tooltip" data-tip="Bunker Bites Breakfast Sausage: 'Sausage so good, you'll think it's your last meal! Authentically smoked and stamped with our seal of approval.'">
      <img src="../images/BB_SAUSAGE_IMG.jpg" alt="Box 3">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box tooltip" data-tip="Bunker Bites Potable Water Ration: 'Hydration for the long haul. Sourced from the purest apocalypse springs, it's the perfect chaser for a doomsday breakfast.'">
      <img src="../images/BB_WATER_IMG.jpg" alt="Box 4">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box tooltip" data-tip="End Times Toast: 'Nothing says 'The End is Nigh' like a crunchy slice of our toast. Best served with a sense of impending doom.'">
      <img src="../images/BB_TOAST_IMG.jpg" alt="Box 5">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>

    <div class="box tooltip" data-tip="Apocalypse Pancakes: 'Rise and shine with our fluffy apocalypse pancakes. Each box promises a delightful doomsday dawn.'">
      <img src="../images/BB_PANCAKES_IMG.jpg" alt="Box 6">
      <a href="cart.html" class="btn-cart">Add to Cart</a>
    </div>
  </div>

<!-- Second Banner Section -->

<header class="banner banner-secondary">
  <div class="parallax" style="background-image: url('../images/second_banner_img.jpg');"></div>
  <div class="apocalypse-tips">
    <p>Always have a spork handy. You never know when you'll need to dig in... or defend your breakfast!</p>
    <!-- Add more tips if you wish! -->
  </div>
  <div class="apocalypse-tips2">
    <p>Don't spill your cereal, it attracts zombies! Keep breakfast neat, and survival sweet.</p>
    <!-- Add more tips if you wish! -->
  </div>
  <div class="apocalypse-tips3">
    <p>Need to send a smoke signal? A bit of burning sausage will do the trick and make you the talk of the wasteland.</p>
    <!-- Add more tips if you wish! -->
  </div>
  
</header>

<!-- Image and Text -->

<title>Image and Text</title>
</head>
<body>
  <div class="container">
    <div class="image">
      <img src="../images/BB_GUNBOX_IMG.jpg" alt="Image">
    </div>
    <div class="content">
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet est nec lectus tincidunt laoreet. Donec et fringilla justo, at viverra massa.</p>
    </div>
  </div>
</body>

<!-- Contact Form Section -->

<body>
<title>Contact Us</title>
</head>
<body>
  <div class="contact-form">
    <h1>Contact Us</h1>
    <form action="submit_form.php" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
  </body>  
  

 <!--Adding Map Location -->


  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDE--Q-pSNiB111a_fRoWkFUBfABYkOA&callback=initMap">
  </script>

  <script src="../scripts/app.js">  </script>


  <h2><center>PLEASE CHECK YOUR LOCAL BUNKER BITES LOCATION
    <br>FOR CURRENT ZOMBIE APOCALYPSE UPDATES!</h2>

 
  <div class="map-container">
    <div id="map" style="height: 600px; width: 800px;"></div>
  </div>


  <script src="../scripts/script.js"></script>
</body>
</html>

<!--Footer Section -->

<footer class="footer">
  <div class="social-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <p>&copy; 2023 Bunker. All rights reserved.</p>
</footer>
